.monzo_env/
archive/
data/database_files/
src/logs/monzo_etl.log
src/.env
.env
deploy.bat
deploy_test.bat
bigquery_creds.json
.pytest_cache
monzo_utils.egg-info/
deploy/deploy_extract.bat
deploy/deploy_load_staging.bat
src/